/* GENERALES */

body {
  padding-top: 4.2rem;
}

.fuente,
.frase,
.titulo__galeria {
  font-family: "Harry Potter", sans-serif;
}

.fuente {
  font-size: 1.5rem;
}

.iconos {
  font-size: 2rem;
}

.fotos {
  vertical-align: middle;
}
