$primary-color: rgb(55, 50, 128);

$color-oscuro: black;

$color-claro: white;

$color-gris: rgb(48, 47, 47);

$primary-bg: linear-gradient(to top, rgb(33, 37, 94), rgb(75, 75, 77));

$fuente-principal: "Harry Potter", sans-serif;
